{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

	<img src="{{ asset('assets/img/other/titre.webp') }}" class="logo" alt="logo pokedeck">
	
		<div class="maj">
			<p class="date">TEST - MAJ du 24/08/2023</p>
			<p class="commentaire">Mise en place d'un webhook, système instable.
			</p>
		</div>
	
	
{% endblock %}
