{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}


	<img src="{{ asset('assets/img/other/titre.webp') }}" class="logo" alt="logo pokedeck">
	
		<div class="maj">
			<p class="date">30/08/2023</p>
			<p class="commentaire">Ajout d'un champ de recherche
			</p>
		</div>
	
	
{% endblock %}
