{% extends 'base.html.twig' %}

{% block body %}
	<form id="form-search" action="" method="get">
		<div id="container-search">
			<input type="search" id="search" name="search" placeholder="bulbizarre">
			<img id="mglass" src="{{asset('assets/img/other/loupe.png')}}" alt="">
		</div>
	</form>
    
{% endblock %}
