<!DOCTYPE html>
<html>
	<head>
		{% include "parts/head.html.twig" %}
	</head>
	<body>
		{% include "parts/header.html.twig" %}
		{% block body %}{% endblock %}
		{% include "parts/footer.html.twig" %}
	</body>
</html>
