<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta
name="description" content="Créer ton pokedeck !">

<!-- Primary Meta Tags -->
<title>Pokedeck</title>
<meta name="title" content="Pokedeck">
<meta
name="description" content="Créer ton pokedeck !">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://sebastienherbreteau.fr/pokedeck/">
<meta property="og:title" content="Pokedeck">
<meta property="og:description" content="Créer ton pokedeck !">
<meta
property="og:image" content="{{asset('assets/img/other/pokedeck.png')}}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://sebastienherbreteau.fr/pokedeck/">
<meta property="twitter:title" content="Pokedeck">
<meta property="twitter:description" content="Créer ton pokedeck !">
<meta property="twitter:image" content="{{asset('assets/img/other/pokedeck.png')}}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com"/>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
<link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Denk+One&display=swap" rel="stylesheet"/>
<link rel="icon" href="{{asset('assets/img/other/icone.png')}}" type="image/x-icon">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
	{% block title %}Pokedeck
	{% endblock %}
</title>

<link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
